.dark{
    background: linear-gradient(90deg, #0a0a0a, #212020 50%, #0a0a0a);
}

.dark *::-webkit-scrollbar {
    width: 10px;

}
 
.dark *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
    border-radius: 3px;
    background-color: #5050505c;
}
 
.dark *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #b5b5b5;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.dark *::-webkit-scrollbar-thumb:window-inactive {
	background: #84848491; 
}


html.dark::before{
    background:transparent;
    opacity: 1;
}

html.dark::after{
background: #353535;
    opacity: 0;
}

.dark body{
    background-image: url(../assets/walletshell_logo_dm.png);
    color: #e8e8e8;
}

.dark .navbar{
    background-color: #0e100e;
    box-shadow: 0px 0px 4px #eee;
}
.dark .navbar-button{
    background-color: #0e100e;
}

.dark .navbar-button:hover {
    background-color: #4d524d;
}

.dark .navbar-button:active,
.dark .navbar-button.btn-active{
    background-color: #2b2b2b;
}


.dark .button-green,
.dark .button-red,
.dark .button-gray{
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
    color: #c5c5c5;
}

.dark .button-green{background: #000;border: 2px solid #ccccccab;}

.dark .button-green:hover,
.dark .button-green:active,
.dark .button-green:focus,
.dark .button-red:hover,
.dark .button-red:active,
.dark .button-red:focus,
.dark .button-gray:hover,
.dark .button-gray:active,
.dark .button-gray:focus{
    color:#fff;
    border-color: #c5c5c5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.49), inset 0px 0px 4px rgba(171, 171, 171, 0.76);
    text-shadow: -1px -1px 0px #ffffff4f;
}

.dark .button-red,
.dark .button-gray{
background: #3e3e3e;
border: 2px solid #cccccc59;
}

.dark .button-gray:hover,
.dark .button-gray:active,
.dark .button-red:hover,
.dark .button-red:active{
    color: #fff;
}
.dark .path-input-button, .dark .button-browse {
    border: 1px solid #ccc9;
}

/* pagination */
.dark .ag-paging-panel{
    padding: 0.5rem;
    text-align:right;
    background:rgba(0,0,0,.29);
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    font-size: .85rem;
    box-shadow:inset 0 0 8px #000000;
}

.dark .ag-paging-button{
    background-color: #1c1f20;
    color: #eee;
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow:1px 1px 2px rgba(119, 119, 119, 0.5);
}
.dark .ag-paging-button:hover{
    color:#fff;
    box-shadow:1px 1px 2px rgba(146, 146, 146, 0.58);
    background-color: #2d3436;
}

.dark .ag-paging-button:disabled,
.dark .ag-paging-button:disabled:hover{
    background-color: #2d3436;
    color: #cccccc75;
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow:1px 1px 2px rgba(119, 119, 119, 0.14);
}

.dark .list-tables .pagination li{
    background-color: #000;
}
.dark .list-tables .pagination li.active{
    background-color: #7b7b7b;    
}

.dark .checkbox-container input:checked ~ .checkmark{
    background-color:#545454f2;
}
.dark .checkbox-container:hover input ~ .checkmark {
    background-color: #736c6c;
}
.dark div.about-links a{
    background-color: #0000002b;
    border: 1px solid #9a9a9a8a;
}
.dark .status-node-info{
    background: linear-gradient(to right, #333333 0%,#525252 53%,#7d7d7d 100%);
}

.dark .tx-dialog,
.dark .default-dialog{
    background-color:#131313;
    border: 1px solid #cccccc69;
}

.dark .tx-tools .tx-sort .csort{
    background: #333;
    border: 1px solid #696969b3;
}

.dark dialog::backdrop{
    background: rgba(10, 10, 10, 0.8);
}
/* .dark .transaction-list-table td.txamount{
    color: #fff;
}

.dark .transaction-list-table tr[data-txType="out"] td.txamount{
    color: #ff5b5b;
} */

.dark .div-main-address-qr img{
    image-rendering: -webkit-optimize-contrast;
    opacity: .9;
}

.dark .status-node-info.conn-warning {
       background: rgba(255, 0, 0, 0.7);
}

.dark .transaction-list-table{
    background-color: rgba(0,0,0,0.5);
}

.dark .transaction-list-table .txlist-item{
    border-bottom: 1px dashed rgba(144, 144, 144, 0.29);
}

.dark .transaction-list-table .txlist-item:nth-child(odd) {
    background-color: rgba(66, 65, 65, 0.35);
}

.dark .transaction-list-table .txlist-item:nth-child(even) {
    background-color: rgba(21, 21, 21, 0.5);
}


.dark .custom-table.kb-table td strong{
    color: #60ff1b;
}
.dark a.external{
    color: #fffb00;
}

.dark #datoaste{
 background-color: #4d524d !important;
border-top-right-radius: 4px !important;
border-bottom-right-radius: 4px !important;
}
.dark .borokokok{/*     background: #4d524d5c; */background: linear-gradient(to right, #000000 0%,#252525 65%,#353535 100%);color: #fefefe;box-shadow: 1px 1px 3px #fefefea1;text-shadow:0px 1px 1px #0a0a0a;/* border-top:1px solid #fffb00; *//* border-right:1px solid #fffb00; */}

.dark h4.input-required:after{
    color: #ff7a00;
}
.dark .text-spaced-info{
    background:#212721;
}

.dark .wallet-tool{
    color: rgba(255,255,255,0.5);
}

.dark .wallet-tool:hover{
    color: #fefefe;
}

.dark .fake-node-options ul{
    background-color: #232323;
    border: 1px solid #929292cc;
}

.dark .fake-node-options ul li{

}
.dark .fake-node-options ul li:nth-child(odd){
    background: #3c3c3c;
    color: #eee;
}
.dark .fake-node-options ul li:hover{
    background: #526367;
}
.dark .fake-node-options ul li span.node-address{
    /* color: #fff; */
}
.dark ul.cnodes {
    border: 1px solid #c3c3c39c;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(53, 53, 53, 0.39);
}
.dark .fusion-progress{
    background: #2b2a2a;
}
.dark #button-overview-showkeys.reminder:before {
  border: 4px solid #ff0000cc;
}

.dark #button-overview-showkeys.reminder{
   border-color: #ca0000ad;
   color:#fff;
}
