#input-import-path {
    display: inline;
    font-size: 1em;
    bottom: 5px;
    width: 90%;
}

#button-import-browse {
    position: relative;
    display: inline;
    bottom: 5px;
    left: 15px;
}

.div-import-name {
    display: inline-block;
    position: relative;
    width: 44%;
    height: 70px;
}

.div-import-password {
    display: inline-block;
    position: relative;
    width: 44%;
    height: 70px;
    left: 12px;
}

#input-import-name {   
    font-size: 1em;
    width: 100%;
}

#input-import-password {
    font-size: 1em;
    width: 100%;
}

#key-import-view {
    font-size: 1em;
    width: 90%;
}

#key-import-spend {
    font-size: 1em;
    width: 90%;
}

#button-import-import {
    position: relative;
    right: 10%;
}

#button-import-back {
    position: relative;
    left: 10%;
}