#key-show-view {
    font-size: 1em;
    width: 90%;
}

#key-show-spend {
    font-size: 1em;
    width: 90%;
}

#button-show-reveal {
    position: relative;
    right: 10%;
}

#button-show-back {
    position: relative;
    left: 10%;
}