/* Input fields */
.div-input {
    position: relative;
    top: 25px;
    left: 5%;
    width: 90%;
}

#input-load-path {
    display: inline;
    font-size: 0.88em;
    bottom: 5px;
    width: 90%;
}

#button-load-browse {
    position: relative;
    display: inline;
    bottom: 5px;
    left: 15px;
}

#input-load-password {
    font-size: 1em;
    width: 90%;
}

#button-load-load {
    position: relative;
    right: 10%;
}

#button-load-cancel {
    position: relative;
    left: 10%;
}