/* Fields */
.div-send-fields {
    position: relative;
    left: 5%;
    width: 90%;
}

#input-send-address {
    padding: 12px 8px;
    font-size: 0.8em;
    bottom: 5px;
    width: 100%;
}

.div-send-amount {
    display: inline-block;
    position: relative;
    width: 48%;
    height: 80px;
}

#input-send-amount {
    font-size: 1em;
    width: 100%;
}

.div-send-payid {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 80px;
    left: 12px;
}

#input-send-payid {    
    font-size: 1em;
    width: 100%;
}

.div-send-fee {
    display: inline-block;
    position: relative;
    width: 48%;
    height: 70px;
}

#input-send-fee {
    font-size: 1em;
    width: 100%;
}

.div-send-fee-text {
    display: inline-block;
    position: relative;
    width: 48%;
    height: 50px;
    top: 12px;
    left: 12px;
}

.div-send-mixin {
    display: inline-block;
    position: relative;
    width: 48%;
    height: 70px;
}

#input-send-mixin {
    font-size: 1em;
    width: 100%;
}

.div-send-mixin-text {
    display: inline-block;
    position: relative;
    width: 48%;
    height: 60px;
    top: 12px;
    left: 12px;
}

#button-import-import {
    position: relative;
    right: 10%;
}

#button-import-back {
    position: relative;
    left: 10%;
}