/* Input fields */
.div-settings-input {
    position: relative;
    top: 25px;
    left: 5%;
    width: 90%;
}

#input-settings-path {
    display: inline;
    font-size: 0.88em;
    bottom: 5px;
    width: 90%;
}

#button-settings-browse {
    position: relative;
    display: inline;
    bottom: 5px;
    left: 15px;
}

#input-settings-rpcpass {
    font-size: 1em;
    width: 90%;
}

.div-settings-daemon-address {
    display: inline-block;
    position: relative;
    left: 12px;
    width: 45%;
    height: 80px;
}

#input-settings-daemon-address {
    font-size: 1em;
    width: 90%;
}

.div-settings-daemon-port {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 80px;
}

#input-settings-daemon-port {
    font-size: 1em;
    width: 90%;
}

/* Buttons */
.div-settings-buttons {
    white-space: nowrap;
    display: inline;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
