/* Input fields */
.div-settings-input {
    position: relative;
    top: 25px;
    left: 5%;
    width: 90%;
}

#input-settings-path {
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 0.88em;
    bottom: 5px;
    width: 90%;
}

#button-settings-browse {
    position: relative;
    display: inline;
    bottom: 5px;
    left: 15px;
}

#input-settings-rpcpass {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1em;
    width: 90%;
}

/* Buttons */
.div-settings-buttons {
    white-space: nowrap;
    display: inline;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#button-settings-save {
    position: relative;
}*/