.div-transactions-page {
    position: relative;
    display: inline-block;
    width: 45%;
    height: 30px;
    left: 25px;
}

.div-transactions-sort {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 30px;
    left: 30px;
}

#button-transactions-sort {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
    left: 42%;
    bottom: 2px;
    font-size: 1.35em;
}

#icon-transactions-sort {
    position: relative;
    margin: 0;
    padding: 0;
    right: 8px;
    bottom: 8px;
}

/* Table */
.div-transactions-table {
    position: relative;
    top: 15px;
    left: 5%;
    width: 90%;
}

#transactions-table {
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
    border-spacing: 5px;
}

#transactions-table .td {
    padding-bottom: 1em;
    padding-top: 1em;
}

#transactions-table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.35);
}

#transactions-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
}

#transactions-table:hover {
    cursor: pointer;
}

.div-transactions-row-txamount {
    display: inline-block;
    width: 20%;
}

.div-transactions-row-txhash {
    display: inline-block;
    width: 78%;
    font-size: 0.83em;
}

.div-transactions-row-txdate {
    display: inline-block;
    width: 20%;
}

.div-transactions-row-txpayid {
    display: inline-block;
    width: 78%;
    font-size: 0.83em;
}
