body {
    word-wrap: break-word;
    min-width: 640px;
    min-height: 480px;
    /*background-color: #00632e;*/
    background: -webkit-linear-gradient(left, #00632e 0%,#41bd51 50%, #00632e 100%);
    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
}

.div-transactions-panel {
    position: relative;
    top: 15px;
    left: 5%;
    width: 90%;
}

#text-transactions-panel-extra, #text-transactions-panel-payid,
 #text-transactions-panel-hash, #text-transactions-panel-address {
    font-size: 0.83em;
}